<!doctype html>
<html ng-app="gifs">
    <head>
        <title>Gifs</title>
    </head>
    <body>
        <div ui-view></div>
        <script src="{{static '/static/bundle.js'}}"></script>
        <link rel="stylesheet" href="{{static '/static/styles.css'}}">
    </body>
</html>