<!doctype html>
<html ng-app="gifs">
    <head>
        <title>Gifs</title>
    </head>
    <body ng-controller="UploadCtrl as upld" ng-file-drop="upld.onFileSelect($files)" ng-file-drag-over-class="uploader-active" style="display: none">
        <div ui-view></div>

        <div class="uploader">
            <div class="uploader__inner">
                <h2>Drop .gifs to upload</h2>
            </div>
        </div>

        <script src="{{static 'ASSET{/static/bundle.js}'}}"></script>
        <link rel="stylesheet" href="{{static 'ASSET{/static/styles.css}'}}">
    </body>
</html>